doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= name
        block scripts
        block styles
    body
        block body
            div#root!= content
            script.
                app.default(!{databank});